In [153]:
# Dependencies
import pandas as pd

In [154]:
file = "Resources/tesla_data.csv"

In [155]:
df = pd.read_csv(file, encoding="ISO-8859-1");

df.head()

,Case #,Year,Date,Country,State,Description,Deaths,Tesla driver,Tesla occupant,Other vehicle,...,Verified Tesla Autopilot Deaths,Verified Tesla Autopilot Deaths + All Deaths Reported to NHTSA SGO,Unnamed: 16,Unnamed: 17,Source,Note,Deceased 1,Deceased 2,Deceased 3,Deceased 4
0,294.0,2022.0,1/17/2023,USA,CA,Tesla crashes into back of semi,1.0,1,-,-,...,-,-,https://web.archive.org/web/20221222203930/ht...,https://web.archive.org/web/20221222203930/ht...,https://web.archive.org/web/20230118162813/ht...,NaN,NaN,NaN,NaN,NaN
1,293.0,2022.0,1/7/2023,Canada,-,Tesla crashes,1.0,1,-,-,...,-,-,https://web.archive.org/web/20221222203930/ht...,https://web.archive.org/web/20221222203930/ht...,https://web.archive.org/web/20230109041434/ht...,NaN,Taren Singh Lal,NaN,NaN,NaN
2,292.0,2022.0,1/7/2023,USA,WA,"Tesla hits pole, catches on fire",1.0,-,1,-,...,-,-,https://web.archive.org/web/20221222203930/ht...,https://web.archive.org/web/20221222203930/ht...,https://web.archive.org/web/20230107232745/ht...,NaN,NaN,NaN,NaN,NaN
3,291.0,2022.0,12/22/2022,USA,GA,Tesla crashes and burns,1.0,1,-,-,...,-,-,https://web.archive.org/web/20221222203930/ht...,https://web.archive.org/web/20221222203930/ht...,https://web.archive.org/web/20221222203930/ht...,NaN,NaN,NaN,NaN,NaN
4,290.0,2022.0,12/19/2022,Canada,-,Tesla crashes into storefront,1.0,-,-,-,...,-,-,https://web.archive.org/web/20221223203725/ht...,https://web.archive.org/web/20221223203725/ht...,https://web.archive.org/web/20221223203725/ht...,NaN,NaN,NaN,NaN,NaN

In [156]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307 entries, 0 to 306
Data columns (total 24 columns):
 #   Column                                                                Non-Null Count  Dtype
---  ------                                                                --------------  -----
 0   Case #                                                                294 non-null    float64
 1   Year                                                                  294 non-null    float64
 2   Date                                                                  294 non-null    object
 3    Country                                                              294 non-null    object
 4    State                                                                294 non-null    object
 5    Description                                                          295 non-null    object
 6    Deaths                                                               299 non-null    float64
 7    Tesla driver                                                         294 non-null    object
 8    Tesla occupant                                                       290 non-null    object
 9    Other vehicle                                                        295 non-null    object
 10   Cyclists/ Peds                                                       296 non-null    object
 11   TSLA+cycl / peds                                                     297 non-null    object
 12   Model                                                                296 non-null    object
 13   Autopilot claimed                                                    281 non-null    object
 14   Verified Tesla Autopilot Deaths                                      297 non-null    object
 15   Verified Tesla Autopilot Deaths + All Deaths Reported to NHTSA SGO   296 non-null    object
 16  Unnamed: 16                                                           292 non-null    object
 17  Unnamed: 17                                                           289 non-null    object
 18   Source                                                               297 non-null    object
 19   Note                                                                 9 non-null      object
 20   Deceased 1                                                           87 non-null     object
 21   Deceased 2                                                           17 non-null     object
 22   Deceased 3                                                           4 non-null      object
 23   Deceased 4                                                           0 non-null      float64
dtypes: float64(4), object(20)
memory usage: 57.7+ KB

In [157]:
df.columns

Index(['Case #', 'Year', 'Date', ' Country ', ' State ', ' Description ',
       ' Deaths ', ' Tesla driver ', ' Tesla occupant ', ' Other vehicle ',
       ' Cyclists/ Peds ', ' TSLA+cycl / peds ', ' Model ',
       ' Autopilot claimed ', ' Verified Tesla Autopilot Deaths ',
       ' Verified Tesla Autopilot Deaths + All Deaths Reported to NHTSA SGO ',
       'Unnamed: 16', 'Unnamed: 17', ' Source ', ' Note ', ' Deceased 1 ',
       ' Deceased 2 ', ' Deceased 3 ', ' Deceased 4 '],
      dtype='object')

In [158]:
new_df = df.drop(['Case #','Unnamed: 16', 'Unnamed: 17', ' Source ', ' Note ', ' Deceased 1 ',
       ' Deceased 2 ', ' Deceased 3 ', ' Deceased 4 '], axis=1)

In [159]:
new_df = new_df.dropna()
new_df.head()

,Year,Date,Country,State,Description,Deaths,Tesla driver,Tesla occupant,Other vehicle,Cyclists/ Peds,TSLA+cycl / peds,Model,Autopilot claimed,Verified Tesla Autopilot Deaths,Verified Tesla Autopilot Deaths + All Deaths Reported to NHTSA SGO
0,2022.0,1/17/2023,USA,CA,Tesla crashes into back of semi,1.0,1,-,-,-,1,-,-,-,-
1,2022.0,1/7/2023,Canada,-,Tesla crashes,1.0,1,-,-,-,1,-,-,-,-
2,2022.0,1/7/2023,USA,WA,"Tesla hits pole, catches on fire",1.0,-,1,-,-,1,-,-,-,-
3,2022.0,12/22/2022,USA,GA,Tesla crashes and burns,1.0,1,-,-,-,1,-,-,-,-
4,2022.0,12/19/2022,Canada,-,Tesla crashes into storefront,1.0,-,-,-,1,1,-,-,-,-

In [160]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 266 entries, 0 to 293
Data columns (total 15 columns):
 #   Column                                                                Non-Null Count  Dtype
---  ------                                                                --------------  -----
 0   Year                                                                  266 non-null    float64
 1   Date                                                                  266 non-null    object
 2    Country                                                              266 non-null    object
 3    State                                                                266 non-null    object
 4    Description                                                          266 non-null    object
 5    Deaths                                                               266 non-null    float64
 6    Tesla driver                                                         266 non-null    object
 7    Tesla occupant                                                       266 non-null    object
 8    Other vehicle                                                        266 non-null    object
 9    Cyclists/ Peds                                                       266 non-null    object
 10   TSLA+cycl / peds                                                     266 non-null    object
 11   Model                                                                266 non-null    object
 12   Autopilot claimed                                                    266 non-null    object
 13   Verified Tesla Autopilot Deaths                                      266 non-null    object
 14   Verified Tesla Autopilot Deaths + All Deaths Reported to NHTSA SGO   266 non-null    object
dtypes: float64(2), object(13)
memory usage: 33.2+ KB

In [161]:
# Remove white spaces in column names
new_df = new_df.rename(columns=lambda x: x.strip())

In [162]:
# Rename the columns
new_df.rename(columns={
    "Tesla driver": "Driver",
    "Tesla occupant": "Occupant",  
    "Autopilot claimed": "Autopilot",
    "Verified Tesla Autopilot Deaths": "Autopilot Deaths",
    "Verified Tesla Autopilot Deaths + All Deaths Reported to NHTSA SGO": "Autopilot Deaths & Reported Deaths"
})

,Year,Date,Country,State,Description,Deaths,Driver,Occupant,Other vehicle,Cyclists/ Peds,TSLA+cycl / peds,Model,Autopilot,Autopilot Deaths,Autopilot Deaths & Reported Deaths
0,2022.0,1/17/2023,USA,CA,Tesla crashes into back of semi,1.0,1,-,-,-,1,-,-,-,-
1,2022.0,1/7/2023,Canada,-,Tesla crashes,1.0,1,-,-,-,1,-,-,-,-
2,2022.0,1/7/2023,USA,WA,"Tesla hits pole, catches on fire",1.0,-,1,-,-,1,-,-,-,-
3,2022.0,12/22/2022,USA,GA,Tesla crashes and burns,1.0,1,-,-,-,1,-,-,-,-
4,2022.0,12/19/2022,Canada,-,Tesla crashes into storefront,1.0,-,-,-,1,1,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,2014.0,7/14/2014,USA,CA,Tesla kills motorcyclist,1.0,-,-,1,-,-,-,-,-,-
290,2014.0,7/4/2014,USA,CA,Thief crashes stolen Tesla,1.0,1,-,-,-,1,-,-,-,-
291,2014.0,7/4/2014,USA,CA,Tesla rear ends stopped car,3.0,-,-,3,-,-,-,-,-,-
292,2013.0,11/2/2013,USA,CA,Tesla kills cyclist,1.0,-,-,-,1,1,-,-,-,-
293,2013.0,4/2/2013,USA,CA,Tesla veers into opposite lane,2.0,-,-,2,-,-,S,-,-,-

In [163]:
new_df['Country'] = new_df['Country'].str.strip()

In [164]:
new_df['State'] = new_df['State'].str.strip()

In [165]:
new_df[new_df["State"] != '-']

,Year,Date,Country,State,Description,Deaths,Tesla driver,Tesla occupant,Other vehicle,Cyclists/ Peds,TSLA+cycl / peds,Model,Autopilot claimed,Verified Tesla Autopilot Deaths,Verified Tesla Autopilot Deaths + All Deaths Reported to NHTSA SGO
0,2022.0,1/17/2023,USA,CA,Tesla crashes into back of semi,1.0,1,-,-,-,1,-,-,-,-
2,2022.0,1/7/2023,USA,WA,"Tesla hits pole, catches on fire",1.0,-,1,-,-,1,-,-,-,-
3,2022.0,12/22/2022,USA,GA,Tesla crashes and burns,1.0,1,-,-,-,1,-,-,-,-
5,2022.0,12/18/2022,USA,CA,Tesla hit two other cars,1.0,-,1,-,-,-,-,-,-,-
6,2022.0,12/17/2022,USA,CA,Tesla hits pedestrian on highway,1.0,-,-,-,1,1,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,2014.0,7/14/2014,USA,CA,Tesla kills motorcyclist,1.0,-,-,1,-,-,-,-,-,-
290,2014.0,7/4/2014,USA,CA,Thief crashes stolen Tesla,1.0,1,-,-,-,1,-,-,-,-
291,2014.0,7/4/2014,USA,CA,Tesla rear ends stopped car,3.0,-,-,3,-,-,-,-,-,-
292,2013.0,11/2/2013,USA,CA,Tesla kills cyclist,1.0,-,-,-,1,1,-,-,-,-
293,2013.0,4/2/2013,USA,CA,Tesla veers into opposite lane,2.0,-,-,2,-,-,S,-,-,-

In [166]:
usa_df = new_df.loc[new_df['Country'] == 'USA']

usa_df

,Year,Date,Country,State,Description,Deaths,Tesla driver,Tesla occupant,Other vehicle,Cyclists/ Peds,TSLA+cycl / peds,Model,Autopilot claimed,Verified Tesla Autopilot Deaths,Verified Tesla Autopilot Deaths + All Deaths Reported to NHTSA SGO
0,2022.0,1/17/2023,USA,CA,Tesla crashes into back of semi,1.0,1,-,-,-,1,-,-,-,-
2,2022.0,1/7/2023,USA,WA,"Tesla hits pole, catches on fire",1.0,-,1,-,-,1,-,-,-,-
3,2022.0,12/22/2022,USA,GA,Tesla crashes and burns,1.0,1,-,-,-,1,-,-,-,-
5,2022.0,12/18/2022,USA,CA,Tesla hit two other cars,1.0,-,1,-,-,-,-,-,-,-
6,2022.0,12/17/2022,USA,CA,Tesla hits pedestrian on highway,1.0,-,-,-,1,1,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,2014.0,7/14/2014,USA,CA,Tesla kills motorcyclist,1.0,-,-,1,-,-,-,-,-,-
290,2014.0,7/4/2014,USA,CA,Thief crashes stolen Tesla,1.0,1,-,-,-,1,-,-,-,-
291,2014.0,7/4/2014,USA,CA,Tesla rear ends stopped car,3.0,-,-,3,-,-,-,-,-,-
292,2013.0,11/2/2013,USA,CA,Tesla kills cyclist,1.0,-,-,-,1,1,-,-,-,-
293,2013.0,4/2/2013,USA,CA,Tesla veers into opposite lane,2.0,-,-,2,-,-,S,-,-,-

In [167]:
usaStates = usa_df['State'].unique()
usaStates

array(['CA', 'WA', 'GA', 'MO', 'AR', 'IL', 'FL', 'SC', 'MD', 'UT', 'PA',
       'HA', 'AL', 'MI', 'NV', 'NY', 'OR', 'AZ', 'NJ', 'NC', 'ID', 'OH',
       'IA', 'VA', 'CO', 'IN', 'TX', 'DE', 'NH', 'TN', 'HI'], dtype=object)

In [201]:
usa_df['Location'] = usa_df['State'] + ", " + usa_df['Country']

usa_df.head(2)

C:\Users\User\AppData\Local\Temp\ipykernel_16764\215943609.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usa_df['Location'] = usa_df['State'] + ", " + usa_df['Country']

,Year,Date,Country,State,Description,Deaths,Tesla driver,Tesla occupant,Other vehicle,Cyclists/ Peds,TSLA+cycl / peds,Model,Autopilot claimed,Verified Tesla Autopilot Deaths,Verified Tesla Autopilot Deaths + All Deaths Reported to NHTSA SGO,Location
0,2022.0,1/17/2023,USA,CA,Tesla crashes into back of semi,1.0,1,-,-,-,1,-,-,-,-,"CA, USA"
2,2022.0,1/7/2023,USA,WA,"Tesla hits pole, catches on fire",1.0,-,1,-,-,1,-,-,-,-,"WA, USA"

In [202]:
usaLocations = usa_df['Location'].unique()

# Import Dependicies
import requests
import json

# Import the API key
from config import geoapify_key

baseUrl = "https://api.geoapify.com/v1/geocode/search?text="

for location in usaLocations:
    target_url = f"{baseUrl}{location}&format=json&apiKey={geoapify_key}"
    
    geo_data = requests.get(target_url).json()


    stateInfo = {
        "location": geo_data["query"]["text"],
        "lat": geo_data["results"][0]["lat"],
        "lon": geo_data["results"][0]["lon"]
    }
    print(stateInfo)

{'location': 'CA, USA', 'lat': 36.7014631, 'lon': -118.755997}
{'location': 'WA, USA', 'lat': 47.2868352, 'lon': -120.212613}
{'location': 'GA, USA', 'lat': 32.3293809, 'lon': -83.1137366}
{'location': 'MO, USA', 'lat': 38.7604815, 'lon': -92.5617875}
{'location': 'AR, USA', 'lat': 35.2048883, 'lon': -92.4479108}
{'location': 'IL, USA', 'lat': 40.0796606, 'lon': -89.4337288}
{'location': 'FL, USA', 'lat': 27.7567667, 'lon': -81.4639835}
{'location': 'SC, USA', 'lat': 33.6874388, 'lon': -80.4363743}
{'location': 'MD, USA', 'lat': 39.5162401, 'lon': -76.9382069}
{'location': 'UT, USA', 'lat': 39.4225192, 'lon': -111.714358}
{'location': 'PA, USA', 'lat': 40.9699889, 'lon': -77.7278831}
{'location': 'HA, USA', 'lat': 31.3665768, 'lon': -85.84823480692984}
{'location': 'AL, USA', 'lat': 37.1522712, 'lon': -91.4434708}
{'location': 'MI, USA', 'lat': 39.7837304, 'lon': -100.445882}
{'location': 'NV, USA', 'lat': 39.5158825, 'lon': -116.8537227}
{'location': 'NY, USA', 'lat': 43.1561681, 'lon': -75.8449946}
{'location': 'OR, USA', 'lat': 43.9792797, 'lon': -120.737257}
{'location': 'AZ, USA', 'lat': 34.395342, 'lon': -111.763275}
{'location': 'NJ, USA', 'lat': 40.0757384, 'lon': -74.4041622}
{'location': 'NC, USA', 'lat': 35.6729639, 'lon': -79.0392919}
{'location': 'ID, USA', 'lat': 43.6447642, 'lon': -114.015407}
{'location': 'OH, USA', 'lat': 40.2253569, 'lon': -82.6881395}
{'location': 'IA, USA', 'lat': 41.9216734, 'lon': -93.3122705}
{'location': 'VA, USA', 'lat': 38.8907693, 'lon': -77.3482828}
{'location': 'CO, USA', 'lat': 38.7251776, 'lon': -105.607716}
{'location': 'IN, USA', 'lat': 40.3270127, 'lon': -86.1746933}
{'location': 'TX, USA', 'lat': 31.2638905, 'lon': -98.5456116}
{'location': 'DE, USA', 'lat': 38.6920451, 'lon': -75.4013315}
{'location': 'NH, USA', 'lat': 43.4849133, 'lon': -71.6553992}
{'location': 'TN, USA', 'lat': 35.7730076, 'lon': -86.2820081}
{'location': 'HI, USA', 'lat': 19.593801499999998, 'lon': -155.42837009716908}